<div id="about">
    <div id="aboutphoto-container">
        <img id="aboutphoto" src="../../../assets/leighanne_front.jpg">
        <h1 class="ribbon">
            <strong class="ribbon-content" style="font-family: 'Lobster', cursive;">About Me</strong>
        </h1>
    </div>
    <div id="about-text">
    I am currently a Database Administrator for Fidelity Investments. I have a Bachelor's in Management Information Systems and I am 
    working on my AWS Solutions Architect certification.
    </div>
</div>